node-red/flows.json
[{"id":"845896f3.df7ea8","type":"tab","label":"Flow 1"},{"id":"b2ad5ba0.5c3a68","type":"tab","label":"Flow 2"},{"id":"a8b19b0d.03afb8","type":"swagger configuration","z":"","apiUrl":"https://raw.githubusercontent.com/weilix88/buildsimhub_python_api/master/bsh_openapi.yaml","name":"buildsimhub"},{"id":"9ea0f41d.6966b8","type":"swagger configuration","z":"","apiUrl":"https://raw.githubusercontent.com/speckleworks/SpeckleSpecs/master/SpeckleV1OpenApiSpecs.yaml","name":"Speckle"},{"id":"af6901b5.93649","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"post_RunSimulationCustomize_API","inType":"","outType":"","name":"Run Sim","x":260,"y":500,"wires":[["9ff52a2d.f871d8"]]},{"id":"e04c116b.5fe51","type":"http in","z":"845896f3.df7ea8","name":"","url":"/RunSimulationCustomize_API","method":"post","upload":true,"swaggerDoc":"","x":165,"y":381,"wires":[["af6901b5.93649","e8e60f8c.4116c"]]},{"id":"dbe00230.c8dbe","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_TrackSimulation_API","inType":"","outType":"","name":"","x":630,"y":420,"wires":[["1c34c6f9.ef2d39"]]},{"id":"9ff52a2d.f871d8","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var key = global.get(\"token\")\nvar http = msg.res\n\nif (msg.payload[\"status\"] === \"success\"){\n    var tracking = msg.payload.tracking\n    return [{\n        payload:{\n            track_token: tracking, \n            user_api_key: key\n        },\n        giraffe:{\n            track_token: tracking, \n            user_api_key: key\n        },\n        res: http\n    }]\n}\n","outputs":1,"noerr":0,"x":590,"y":380,"wires":[["dbe00230.c8dbe"]]},{"id":"e8e60f8c.4116c","type":"function","z":"845896f3.df7ea8","name":"setGlobalToken","func":"global.set(\"token\", msg.payload.user_api_key);  // this is now available to other nodes\nglobal.set(\"more\", \"true\")\n\nreturn msg","outputs":1,"noerr":0,"x":240,"y":440,"wires":[[]]},{"id":"a4e7389f.48dbf8","type":"delay","z":"845896f3.df7ea8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":503,"wires":[["3e313505.5755aa"]]},{"id":"1c34c6f9.ef2d39","type":"switch","z":"845896f3.df7ea8","name":"","property":"payload.has_more","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":510,"y":523,"wires":[["a4e7389f.48dbf8"],["9b5d5d4b.96c5d"]]},{"id":"3e313505.5755aa","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.user_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        user_api_key: key\n    },\n    giraffe:{\n        track_token: token, \n        user_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":810,"y":523,"wires":[["dbe00230.c8dbe"]]},{"id":"273486b2.4d794a","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1180,"y":440,"wires":[["6e859258.6e519c"]]},{"id":"9b5d5d4b.96c5d","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.user_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        user_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI'\n        //]\n        request_data: \"TotalSiteEUI\"\n    },\n    giraffe:{\n        track_token: token, \n        user_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":1090,"y":380,"wires":[["273486b2.4d794a"]]},{"id":"6e859258.6e519c","type":"http response","z":"845896f3.df7ea8","name":"","statusCode":"","headers":{},"x":1484.9998950958252,"y":383.7499952316284,"wires":[]},{"id":"4b3a76cf.aed608","type":"swagger api","z":"b2ad5ba0.5c3a68","apiConfig":"9ea0f41d.6966b8","resource":"Accounts","method":"UserRegister","inType":"","outType":"","name":"","x":636.1481628417969,"y":487.94265365600586,"wires":[["2d72182e.e76e88","f031fb65.cb0e78"]]},{"id":"ff3fafbc.a3f26","type":"http in","z":"b2ad5ba0.5c3a68","name":"","url":"/v1/accounts/register","method":"post","upload":false,"swaggerDoc":"","x":319.4886271158854,"y":479.862683614095,"wires":[["4b3a76cf.aed608","2d72182e.e76e88"]]},{"id":"2d72182e.e76e88","type":"debug","z":"b2ad5ba0.5c3a68","name":"","active":true,"console":"false","complete":"true","x":591.1481730143229,"y":351.7139816284179,"wires":[]},{"id":"f031fb65.cb0e78","type":"http response","z":"b2ad5ba0.5c3a68","name":"","statusCode":"","headers":{},"x":1147.8172035217285,"y":489.6756992340088,"wires":[]}]