node-red/flows.json
[{"id":"845896f3.df7ea8","type":"tab","label":"Demo v.1","disabled":false,"info":"BuildSimHub demo v1"},{"id":"f24e0467.202398","type":"tab","label":"Dashboard WIP","disabled":true,"info":""},{"id":"30918288.adf97e","type":"tab","label":"Forge buckets","disabled":true,"info":""},{"id":"89d475b9.0a1c68","type":"tab","label":"Recap","disabled":true,"info":""},{"id":"277c0ba1.558da4","type":"subflow","name":"Forge Authenticate","info":"Returns ab object ","in":[],"out":[{"x":860,"y":240,"wires":[{"id":"f89ba2e3.95c2","port":0}]}]},{"id":"a8b19b0d.03afb8","type":"swagger configuration","z":"","apiUrl":"https://raw.githubusercontent.com/weilixu/buildsimhub_python_api/master/bsh_openapi.yaml","name":"buildsimhub"},{"id":"9ea0f41d.6966b8","type":"swagger configuration","z":"","apiUrl":"https://raw.githubusercontent.com/speckleworks/SpeckleSpecs/master/SpeckleV1OpenApiSpecs.yaml","name":"Speckle"},{"id":"75874306.372f5c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#791a09","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Build Sim Hub Demo","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d20574b3.c07a08","type":"ui_group","z":"","name":"TotalSiteEUI","tab":"1c4d66e5.9cb949","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c4d66e5.9cb949","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":2},{"id":"8ce35df4.8991c","type":"swagger configuration","z":null,"apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/bd8d58014092e5f4e0e29c68187fe8cdae6fb4d5/Forge-Swagger","name":""},{"id":"bb1498e.c67d168","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/7b86fe16d298359dcebc630d42f8b2a1cd7fc70d/Forge-Swagger","name":""},{"id":"34df404.a5bdbc","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/00d00e9ca6733a02d2965f8ea07a382a72f7e46a/Forge-Swagger","name":""},{"id":"d38224e.05dd6d8","type":"ui_link","z":"","name":"Sign in to Forge!","link":"https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=U2qI8MwQx7zeG8ugatQxOi0tTArTzRDV&redirect_uri=http%3A%2F%2Flocalhost:8000%2Fapi%2Foauth%2Fcallback&scope=bucket:read%20data:read%20data:write","icon":"open_in_browser","target":"newtab","order":1},{"id":"329c7829.59f218","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"77e841bd.045e8","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/00d00e9ca6733a02d2965f8ea07a382a72f7e46a/Forge-Swagger","name":""},{"id":"db4463e0.3304f","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/05410e23f79d905930adfdd74c9daeda900b85c8/Forge-Swagger","name":""},{"id":"fcbb6073.6c4c5","type":"ui_group","z":"","name":"configStuff","tab":"1c4d66e5.9cb949","disp":true,"width":"6","collapse":false},{"id":"86dee3b5.5fce4","type":"ui_group","z":"","name":"Total set point hours not met","tab":"1c4d66e5.9cb949","disp":true,"width":"6","collapse":false},{"id":"2bb38f9c.e114f","type":"ui_group","z":"","name":"Building lighting power density","tab":"1c4d66e5.9cb949","disp":true,"width":"6","collapse":false},{"id":"afce7074.a74d5","type":"ui_group","z":"","name":"Bulding people density","tab":"1c4d66e5.9cb949","order":5,"disp":true,"width":"6","collapse":false},{"id":"79f14a11.6a5cb4","type":"ui_group","z":"","name":"Building plug power density","tab":"1c4d66e5.9cb949","order":6,"disp":true,"width":"6","collapse":false},{"id":"fface127.e195d","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/64554315585b9fff54c4c2c20cb0a557/raw/ebb4c46d3be1fc8bc6f15cf76ba9b914f0a2ec7e/recap-swagger","name":""},{"id":"af6901b5.93649","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"post_RunSimulationCustomize_API","inType":"","outType":"","name":"Run Sim","x":260,"y":420,"wires":[["9ff52a2d.f871d8","4b1d96fa.b072c8"]]},{"id":"e04c116b.5fe51","type":"http in","z":"845896f3.df7ea8","name":"","url":"/RunSimulationCustomize_API","method":"post","upload":true,"swaggerDoc":"","x":160,"y":380,"wires":[["af6901b5.93649","e8e60f8c.4116c"]]},{"id":"dbe00230.c8dbe","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_TrackSimulation_API","inType":"","outType":"","name":"","x":630,"y":420,"wires":[["1c34c6f9.ef2d39","6e3ef4bd.6a8cec"]]},{"id":"9ff52a2d.f871d8","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var key = global.get(\"token\")\nvar http = msg.res\n\nif (msg.payload[\"status\"] === \"success\"){\n    var tracking = msg.payload.tracking\n    return [{\n        payload:{\n            track_token: tracking, \n            project_api_key: key\n        },\n        giraffe:{\n            track_token: tracking, \n            project_api_key: key\n        },\n        res: http\n    }]\n}\n","outputs":1,"noerr":0,"x":630,"y":380,"wires":[["dbe00230.c8dbe"]]},{"id":"e8e60f8c.4116c","type":"function","z":"845896f3.df7ea8","name":"setGlobalToken","func":"global.set(\"token\", msg.payload.project_api_key);  // this is now available to other nodes\nglobal.set(\"more\", \"true\")\n\nreturn msg","outputs":1,"noerr":0,"x":240,"y":340,"wires":[[]]},{"id":"a4e7389f.48dbf8","type":"delay","z":"845896f3.df7ea8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":503,"wires":[["3e313505.5755aa"]]},{"id":"1c34c6f9.ef2d39","type":"switch","z":"845896f3.df7ea8","name":"","property":"payload.has_more","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":510,"y":540,"wires":[["a4e7389f.48dbf8"],["183fd84f.011148","e52c59a9.70bf88","9b5d5d4b.96c5d","dfbca8d0.f08c48","5f7d3081.15215","ad068560.38d7f8"]]},{"id":"3e313505.5755aa","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":810,"y":523,"wires":[["dbe00230.c8dbe"]]},{"id":"273486b2.4d794a","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1320,"y":600,"wires":[["c064a855.c8d368","f20fe3a8.978d3"]]},{"id":"9b5d5d4b.96c5d","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI'\n        //]\n        request_data: \"TotalSiteEUI\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":1030,"y":600,"wires":[["273486b2.4d794a"]]},{"id":"e61e5f68.eb00a","type":"inject","z":"f24e0467.202398","name":"","topic":"","payload":"115.56","payloadType":"num","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["3e28c558.fa0bfa"]]},{"id":"3e28c558.fa0bfa","type":"function","z":"f24e0467.202398","name":"Random number","func":"// msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["9ce1ff7d.855ab","30694bc4.d2f564","1136d046.4a97e","1ae234da.4ceb2b","e7d56512.ad42f8"]]},{"id":"9ce1ff7d.855ab","type":"debug","z":"f24e0467.202398","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":300,"wires":[]},{"id":"30694bc4.d2f564","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"d20574b3.c07a08","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"kBtu/ft2","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":480,"wires":[]},{"id":"1136d046.4a97e","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"d20574b3.c07a08","order":0,"width":0,"height":0,"gtype":"donut","title":"","label":"kBtu/ft2","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":540,"wires":[]},{"id":"1ae234da.4ceb2b","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"d20574b3.c07a08","order":0,"width":0,"height":0,"gtype":"compass","title":"","label":"kBtu/ft2","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":600,"wires":[]},{"id":"e7d56512.ad42f8","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"d20574b3.c07a08","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"kBtu/ft2","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":660,"wires":[]},{"id":"3e644b6b.30e3d4","type":"swagger api","z":"30918288.adf97e","apiConfig":"34df404.a5bdbc","resource":"Data Management API","method":"OssV2BucketsGet","inType":"","outType":"","name":"","x":580,"y":140,"wires":[[]]},{"id":"87bd61df.73855","type":"function","z":"30918288.adf97e","name":"","func":"// var key = global.get(\"forgeToken\")\nvar access = msg.payload.access_token\nvar type = msg.payload.token_type\n\nmsg.payload.Authorization = type + ' ' + access ;\n\nreturn msg","outputs":1,"noerr":0,"x":470,"y":100,"wires":[["3e644b6b.30e3d4"]]},{"id":"3aac354b.32153a","type":"http response","z":"30918288.adf97e","name":"","statusCode":"301","headers":{"location":"http://localhost:8000/api/ui/#/1"},"x":300,"y":540,"wires":[]},{"id":"253df14f.8b9cfe","type":"comment","z":"30918288.adf97e","name":"","info":"# Get Buckets\n\nrequires auth\n* scope value in Postman = bucket:read data:read data:write","x":470,"y":60,"wires":[]},{"id":"8c9e40ae.6c1df","type":"http in","z":"277c0ba1.558da4","name":"","url":"authentication/v1/authenticate","method":"post","upload":false,"swaggerDoc":"","x":420,"y":240,"wires":[["f89ba2e3.95c2"]]},{"id":"f89ba2e3.95c2","type":"swagger api","z":"277c0ba1.558da4","apiConfig":"bb1498e.c67d168","resource":"Authenticate (OAuth)","method":"AuthenticationV1AuthenticatePost","inType":"","outType":"","name":"","x":470,"y":280,"wires":[["c4e38b74.10de28"]]},{"id":"c4e38b74.10de28","type":"function","z":"277c0ba1.558da4","name":"Set Forge Token Global","func":"if (msg.payload[\"access_token\"]){\n    global.set(\"forgeToken\", msg.payload.access_token);  // this is now available to other nodes\n    if (global.get(\"forgeToken\")){\n        console.log(\"OK - forgeToken set\")\n    } else {\n        return {\"error\": \"Forge token not set\"}\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[[]]},{"id":"5fb547dc.7b8d18","type":"comment","z":"277c0ba1.558da4","name":"comments","info":"# Authentication\n\n* Set access_token as global\n* Todo: Log function output to debug","x":320,"y":200,"wires":[]},{"id":"16e0cd1d.fbbd03","type":"subflow:277c0ba1.558da4","z":"30918288.adf97e","name":"Forge Authenticate","x":270,"y":100,"wires":[["f01794b5.3a42f8"]]},{"id":"f20fe3a8.978d3","type":"ui_text","z":"845896f3.df7ea8","group":"d20574b3.c07a08","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.data.value}}","format":"{{msg.payload.data.unit}}","layout":"col-center","x":1770,"y":600,"wires":[]},{"id":"becc9939.e62948","type":"inject","z":"30918288.adf97e","name":"","topic":"","payload":"{\"client_id\":\"9tgGxSWdcxfEUnDjNlGyNNifNAjHcAJB\",\"client_secret\":\"a9CbJdAMczYAVfp1\",\"grant_type\":\"client_credentials\",\"scope\":\"bucket:read data:read data:write\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"2","x":290,"y":220,"wires":[[]]},{"id":"8a3367f1.2627a8","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":580,"wires":[]},{"id":"1d39d9c8.6e7a46","type":"http in","z":"30918288.adf97e","name":"","url":"/oauth/callback","method":"get","upload":false,"swaggerDoc":"","x":200,"y":380,"wires":[["d9f6aefb.86477","f01794b5.3a42f8"]]},{"id":"ffc480e0.851bd","type":"swagger api","z":"30918288.adf97e","apiConfig":"77e841bd.045e8","resource":"Authenticate (OAuth)","method":"AuthenticationV1getToken","inType":"","outType":"","name":"","x":180,"y":500,"wires":[["799e811b.a9d3b","3aac354b.32153a"]]},{"id":"d9f6aefb.86477","type":"function","z":"30918288.adf97e","name":"","func":"var client_id = \"U2qI8MwQx7zeG8ugatQxOi0tTArTzRDV\"\nvar client_secret = \"C4eeb844cb70a46b\"\nvar grant_type = \"authorization_code\" // Must be authorization_code\nvar code = msg.payload.code //The authorization code captured from the code query parameter when the GET authorize redirected back to the callback URL\nvar redirect_uri = \"http://localhost:8000/api/oauth/callback\"\n\nmsg.payload.client_id = client_id \nmsg.payload.client_secret = client_secret\nmsg.payload.grant_type = grant_type\nmsg.payload.code = code\nmsg.payload.redirect_uri = redirect_uri\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":420,"wires":[["ffc480e0.851bd"]]},{"id":"799e811b.a9d3b","type":"function","z":"30918288.adf97e","name":"Set Global Access, Refresh","func":"global.set(\"access_token\", msg.payload.access_token)\nglobal.set(\"refresh_token\", msg.payload.refresh_token)\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":580,"wires":[["ab30bf34.dc2be"]]},{"id":"22d68f2e.c08ad","type":"swagger api","z":"30918288.adf97e","apiConfig":"db4463e0.3304f","resource":"Hubs","method":"ProjectV1HubsGet","inType":"","outType":"","name":"","x":630,"y":460,"wires":[["7ded5ddc.4c2934"]]},{"id":"ab30bf34.dc2be","type":"function","z":"30918288.adf97e","name":"","func":"var token = global.get(\"access_token\")\n\nmsg.payload.Authorization = \"Bearer\" + \" \" + token\n\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["22d68f2e.c08ad"]]},{"id":"aa86730d.949e5","type":"ui_dropdown","z":"30918288.adf97e","name":"","label":"","place":"Select Hub","group":"fcbb6073.6c4c5","order":0,"width":0,"height":0,"passthru":true,"options":[],"payload":"","topic":"","x":680,"y":600,"wires":[["8a3367f1.2627a8"]]},{"id":"7ded5ddc.4c2934","type":"function","z":"30918288.adf97e","name":"","func":"msg.options = []\n\nfor (i = 0; i < msg.payload.data.length; i++) { \n    msg.options.push({[msg.payload.data[i].attributes.name]: msg.payload.data[i].id  })\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["aa86730d.949e5","8a3367f1.2627a8"]]},{"id":"e52c59a9.70bf88","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD',\n        // 'BuildingEPD'\n        //]\n        request_data: \"NotMetHoursCooling\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":1030,"y":700,"wires":[["8f4b64dd.6204f8"]]},{"id":"8f4b64dd.6204f8","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1340,"y":700,"wires":[["b678cae1.40f4d8"]]},{"id":"aab551e9.3f22","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1340,"y":760,"wires":[["d7c00af8.52ee68"]]},{"id":"183fd84f.011148","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD',\n        // 'BuildingEPD'\n        //]\n        request_data: \"NotMetHoursHeating\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":1030,"y":760,"wires":[["aab551e9.3f22"]]},{"id":"b769a9fc.7efe78","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var coolVal = msg.paths.NotMetHoursHeating.value\nvar coolUnit = msg.paths.NotMetHoursHeating.unit\nvar heatVal = msg.paths.NotMetHoursCooling.value\nvar heatUnit = msg.paths.NotMetHoursCooling.unit\n\n// Total setpoint hours not met(tshnm) = NotMetHoursCooling - NotMetHoursHeating\nvar tshnm = coolVal - heatVal\n\nvar lol = { \"totalSetPointHoursNotMet\": {\n    \"value\":tshnm,\n    \"unit\": heatUnit\n    }\n}\n\n\nreturn {payload: lol}","outputs":1,"noerr":0,"x":2150,"y":720,"wires":[["2bf3a002.b5c5c"]]},{"id":"d7c00af8.52ee68","type":"change","z":"845896f3.df7ea8","name":"","rules":[{"t":"set","p":"paths[\"NotMetHoursHeating\"]","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":760,"wires":[["e3095202.f0414"]]},{"id":"b678cae1.40f4d8","type":"change","z":"845896f3.df7ea8","name":"","rules":[{"t":"set","p":"paths[\"NotMetHoursCooling\"]","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":700,"wires":[["e3095202.f0414"]]},{"id":"e3095202.f0414","type":"wait-paths","z":"845896f3.df7ea8","name":"","paths":"[\"NotMetHoursCooling\",\"NotMetHoursHeating\"]","timeout":"15000","finalTimeout":"60000","x":1950,"y":720,"wires":[["b769a9fc.7efe78"]]},{"id":"2bf3a002.b5c5c","type":"ui_text","z":"845896f3.df7ea8","group":"86dee3b5.5fce4","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.totalSetPointHoursNotMet.value}}","format":"{{msg.payload.totalSetPointHoursNotMet.unit}}","layout":"col-center","x":2310,"y":720,"wires":[]},{"id":"779ba004.906e4","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1320,"y":860,"wires":[["690bc5f9.bfe22c"]]},{"id":"dfbca8d0.f08c48","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD'\n        //]\n        request_data: \"BuildingLPD\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":1030,"y":860,"wires":[["779ba004.906e4"]]},{"id":"690bc5f9.bfe22c","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var unit = msg.payload.data.unit\nvar value = msg.payload.data.value\n\nvar yo = {\n    \"unit\": unit,\n    \"value\": value\n}\n\nreturn [{payload: yo}]","outputs":1,"noerr":0,"x":1610,"y":860,"wires":[["6cf8b64f.ab6598"]]},{"id":"6cf8b64f.ab6598","type":"ui_text","z":"845896f3.df7ea8","group":"2bb38f9c.e114f","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.value}}","format":"{{msg.payload.unit}}","layout":"col-center","x":1770,"y":860,"wires":[]},{"id":"c064a855.c8d368","type":"debug","z":"845896f3.df7ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1590,"y":520,"wires":[]},{"id":"e24d2564.a52f68","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1320,"y":960,"wires":[["2ac02ea2.fb7ab2"]]},{"id":"5f7d3081.15215","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD'\n        //]\n        request_data: \"BuildingPPL\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":1030,"y":960,"wires":[["e24d2564.a52f68"]]},{"id":"2ac02ea2.fb7ab2","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var unit = msg.payload.data.unit\nvar value = msg.payload.data.value\n\nvar yo = {\n    \"unit\": unit,\n    \"value\": value\n}\n\nreturn [{payload: yo}]","outputs":1,"noerr":0,"x":1610,"y":960,"wires":[["3483b176.c8d3fe"]]},{"id":"3483b176.c8d3fe","type":"ui_text","z":"845896f3.df7ea8","group":"afce7074.a74d5","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.value}}","format":"{{msg.payload.unit}}","layout":"col-center","x":1770,"y":960,"wires":[]},{"id":"8b04080f.0295b8","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1320,"y":1060,"wires":[["c8d2cd6c.142da"]]},{"id":"ad068560.38d7f8","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD'\n        //]\n        request_data: \"TotalEndUseElectricity\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":1030,"y":1060,"wires":[["8b04080f.0295b8"]]},{"id":"c8d2cd6c.142da","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var unit = msg.payload.data.unit\nvar value = msg.payload.data.value\n\nvar yo = {\n    \"unit\": unit,\n    \"value\": value\n}\n\nreturn [{payload: yo}]","outputs":1,"noerr":0,"x":1610,"y":1060,"wires":[["7534ffb1.af461"]]},{"id":"7534ffb1.af461","type":"ui_text","z":"845896f3.df7ea8","group":"79f14a11.6a5cb4","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.value}}","format":"{{msg.payload.unit}}","layout":"col-center","x":1770,"y":1060,"wires":[]},{"id":"ba2d4fc3.0284c","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"8ce35df4.8991c","resource":"Folders","method":"DataV1ProjectsFoldersByProjectIdAndFolderIdGet","inType":"","outType":"","name":"","x":1440,"y":360,"wires":[[]]},{"id":"8017e5e6.9ab938","type":"http in","z":"845896f3.df7ea8","name":"","url":"/getfolder","method":"get","upload":false,"swaggerDoc":"","x":1110,"y":380,"wires":[["ba2d4fc3.0284c"]]},{"id":"96c22ac1.140be8","type":"swagger api","z":"89d475b9.0a1c68","apiConfig":"fface127.e195d","resource":"ReCap","method":"PhotoTo3dV1PhotoscenePost","inType":"","outType":"","name":"Forge - Reality Capture","x":610,"y":320,"wires":[["d37c6c4b.9b784","6a45ad83.2d1b24"]]},{"id":"b8effb30.c39c28","type":"subflow:277c0ba1.558da4","z":"89d475b9.0a1c68","name":"Forge Authenticate","x":230,"y":160,"wires":[["c896463b.7c2588"]]},{"id":"13e745bf.282b2a","type":"http in","z":"89d475b9.0a1c68","name":"","url":"/oauth/callback","method":"get","upload":false,"swaggerDoc":"","x":270,"y":380,"wires":[["7646fca0.86e9a4"]]},{"id":"4b593b8c.018504","type":"debug","z":"89d475b9.0a1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":400,"wires":[]},{"id":"c896463b.7c2588","type":"function","z":"89d475b9.0a1c68","name":"","func":"var auth = \"Bearer\" + \" \" + msg.payload.access_token\nvar sceneName = \"carnmoreCastleTEST\"\nvar contentType = \"application/json\"\nvar sceneType = \"object\"\nvar callback = \"http://localhost:8000/api/oauth/callback\"\nvar access_token \n\n// global.set(\"access_token\", auth)\n\nreturn [{ \n            payload:{\n                \"Authorization\": auth,\n                \"Content-Type\": contentType,\n                \"scenename\": sceneName,\n                \"scenetype\": sceneType,\n                \"callback\": callback\n            },\n            monkey: \n            {\n                \"auth\": auth\n            }\n        }]\n\n\n// [{\n//         payload:{\n//             track_token: tracking, \n//             project_api_key: key\n//         },\n//         giraffe:{\n//             track_token: tracking, \n//             project_api_key: key\n//         },\n//         res: http\n//     }]","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["96c22ac1.140be8","cdc135a7.7790d8"]]},{"id":"7646fca0.86e9a4","type":"debug","z":"89d475b9.0a1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":460,"wires":[]},{"id":"d37c6c4b.9b784","type":"debug","z":"89d475b9.0a1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":320,"wires":[]},{"id":"cdc135a7.7790d8","type":"debug","z":"89d475b9.0a1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":240,"wires":[]},{"id":"656106b6.8df0a8","type":"swagger api","z":"89d475b9.0a1c68","apiConfig":"fface127.e195d","resource":"ReCap","method":"PhotoTo3dV1FilePost","inType":"","outType":"","name":"Forge - Reality Capture","x":870,"y":440,"wires":[["47e08268.40307c"]]},{"id":"24576797.2f0078","type":"function","z":"89d475b9.0a1c68","name":"rover","func":"var auth = global.get(\"access_token\")\nvar sceneName = \"carnmoreCastleTEST\"\nvar contentType = \"application/json\"\nvar sceneType = \"object\"\nvar callback = \"http://localhost:8000/api/oauth/callback\"\n\nvar id = msg.payload.photoscene.photosceneid\nvar auth = Authorization \nvar file = file[0]\nvar file1 = file[1]\nvar file2 = file[2]\n\nvar content =\"Content-Type\"\n\n\nmsg.payload = {\n    \"Authorization\": auth,\n    \"Content-Type\": contentType,\n    \"scenename\": sceneName,\n    \"scenetype\": sceneType,\n    \"callback\": callback\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[[]]},{"id":"6a45ad83.2d1b24","type":"function","z":"89d475b9.0a1c68","name":"lychee","func":"// var file0 = \"http://1e3a8b7d.ngrok.io/IMG_0875.jpg\"\n// var file1 = \"http://1e3a8b7d.ngrok.io/IMG_0876.jpg\"\n// var file2 = \"http://1e3a8b7d.ngrok.io/IMG_0877.jpg\"\n// var file3 = \"http://1e3a8b7d.ngrok.io/IMG_0878.jpg\"\n// var file4 = \"http://1e3a8b7d.ngrok.io/IMG_0879.jpg\"\n// var file5 = \"http://1e3a8b7d.ngrok.io/IMG_0880.jpg\"\n// var file6 = \"http://1e3a8b7d.ngrok.io/IMG_0881.jpg\"\n// var file7 = \"http://1e3a8b7d.ngrok.io/IMG_0882.jpg\"\n// var file8 = \"http://1e3a8b7d.ngrok.io/IMG_0883.jpg\"\n// var file9 = \"http://1e3a8b7d.ngrok.io/IMG_0884.jpg\"\n// var file10 = \"http://1e3a8b7d.ngrok.io/IMG_0885.jpg\"\n// var file11 = \"http://1e3a8b7d.ngrok.io/IMG_0886.jpg\"\n// var file12 = \"http://1e3a8b7d.ngrok.io/IMG_0887.jpg\"\n// var file13 = \"http://1e3a8b7d.ngrok.io/IMG_0888.jpg\"\n// var file14 = \"http://1e3a8b7d.ngrok.io/IMG_0889.jpg\"\n// var file15 = \"http://1e3a8b7d.ngrok.io/IMG_0890.jpg\"\n// var file16 = \"http://1e3a8b7d.ngrok.io/IMG_0891.jpg\"\n\nvar files = [\"http://1e3a8b7d.ngrok.io/IMG_0875.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0876.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0877.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0878.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0879.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0880.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0881.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0882.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0883.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0884.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0885.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0886.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0887.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0888.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0889.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0890.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0891.jpg\"]\n\n\nvar photoId = msg.payload.Photoscene.photosceneid\nvar auth = msg.monkey.auth\n\nconsole.log(\"....foto...\", photoId)\n\n// msg.payload = {\n//     \"Authorization\": auth,\n//     \"photosceneid\": photoId,\n//     \"Content-Type\": \"application/json\",\n//     \"file[0]\": file0,\n//     \"file[1]\": file1,\n//     \"file[2]\": file2,\n//     \"file[3]\": file3,\n//     \"file[4]\": file4,\n//     \"file[5]\": file5,\n//     \"file[6]\": file6,\n//     \"file[7]\": file7,\n//     \"file[8]\": file8,\n//     \"file[9]\": file9,\n//     \"file[10]\": file10,\n//     \"file[11]\": file11,\n//     \"file[12]\": file12,\n//     \"file[13]\": file13,\n//     \"file[14]\": file14,\n//     \"file[15]\": file15,\n//     \"file[16]\": file16\n// }\n\nmsg.payload = {\n    \"Authorization\": auth,\n    \"photosceneid\": photoId,\n    \"Content-Type\": \"application/json\",\n    \"file\": files,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":420,"wires":[["656106b6.8df0a8","4b593b8c.018504"]]},{"id":"47e08268.40307c","type":"http response","z":"89d475b9.0a1c68","name":"","statusCode":"","headers":{},"x":950,"y":540,"wires":[]},{"id":"f01794b5.3a42f8","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":360,"wires":[]},{"id":"4b1d96fa.b072c8","type":"debug","z":"845896f3.df7ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":320,"wires":[]},{"id":"6e3ef4bd.6a8cec","type":"debug","z":"845896f3.df7ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":420,"wires":[]}]